h2 {
    text-align: center;
}

#header-nav > .container {
    width: 100%;
    padding: 0;
    background-color: rgb(153, 153, 153);
    border-top: black solid 3px;
    border-bottom: black solid 3px;
}

.navbar-header {
    font-weight: bold;
    color: black;
    padding: 10px;
    margin: 0;
    width: 100%;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
    clear: both;
}

.navbar-default button.navbar-toggle {
    border-color: black;
    padding: 8px;
}

.navbar-default .navbar-toggle span.icon-bar {
    height: 4px;
    background-color: black;
}

#heading {
    font-size: 35px;
    font-weight: bold;
}

#nav-list {
    background-color: white;
    margin: 0;
    padding:0;
}

#nav-list > li {
    border-top: #888 solid 1px;
    border-bottom: #888 solid 1px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a:hover {
    background: #E7E7E7
}

#nav-list a span {
    font-size:1.8em;
}

.food {
    background-color: grey;
    margin: 20px 50px;
    padding: 1px;
}

.food p {
    margin: 10px;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {

    color: black;
    /*font-size:1.5em;
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /*text-shadow: 1px 1px 1px #222;*/
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    margin-left: 0;
    text-align: left;
}

#space{
    height:1000px;
    width:0;
}
