body{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: black;
     background-color: #61122F;
}

#header-nav > .container-fluid {
    width: 100%;
    padding: 0;
    background-color: orange;
    border-top: orange solid 3px;
    border-bottom: orange solid 3px;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 35px;
	line-height: 20px;
	border-radius: 1px;
	background-color: orange;
	margin-top: 0px;
	margin-bottom: 2px;
}
.navbar-brand:hover{
	color: white;
}

@media(max-width: 767px){
	.visible-xs{
		display :block! important;
	}
}
.nav {
    padding-left: 0;
    list-style: none;
}
navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navbar-toggler .icon-bar + .icon-bar {
	margin-top: 4px;
}
	

h1 {
    color: grey;
   font-size:36px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
    margin-left: 0;
    text-align: center;
    display: block;
}
.food {
    background-color: white;
    margin: 20px 50px;
    padding: 1px;
}

*{
    box-sizing: border-box;
}
.navbar-header {
    font-weight: bold;
    color: black;
    padding: 10px;
    margin: 0;
    width: 100%;
}
#nav-list {
    background-color: white;
    margin: 10px;
}
#nav-list > li >a {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-top: #888 solid 1px;
    border-bottom: #888 solid 1px;
}
#nav-list a {
    color: #951C49;
    text-align: center;
}
#nav-list a: hover {
	background:#E7E7E7;
}
#nav-list a span {
	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, navbar-header .icon-bar {
	border: 1px solid #61122f;
}
