
body{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: black;
     background-color: #61122F;
}

#header-nav > .container-fluid {
    width: 100%;
    padding: 0;
    background-color: rgb(153, 153, 153);
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}


.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}


*{
    box-sizing: border-box;
}

